@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #root, #__next {
    display: flex;
    flex-direction: column;
    flex: 1;
  }